body{
  margin: 0;
}
header{
  height: 100vh;
  background-image: url(portfolio/mtn.jpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
}
#div0{
  width: 100%;
  background: linear-gradient(rgb(250,250,250), rgb(210,210,210), rgb(130,135,140));
  height: 12vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#main-name{
  line-height: 6.8vw;
  font-size: 10vw;
  font-family: Raleway, sans-serif;
  color: #E9EAEE;
}

#landing-blurb{
  font-size: 3vw;
  color: #E9EAEE;
  text-shadow: 1px 1px 4px #680505;
  text-align: center;
  margin: 5vw;
  font-family: Raleway, sans-serif;
  padding: 5vw;
}

#div1{
  margin-top: 20px;
  padding: 8px;
}
  .section-text{
    font-family: Montserrat, sans-serif;
    font-size: calc(14px + .6vw);
  }
  .section-title{
    font-family: Raleway, sans-serif;
    font-size: calc(18px + .7vw);
    color: #680505;
  }
#div1a{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
#abstract-icons{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-size:7vw;
}
.fa-microscope{
  color: #426105;
  animation: wiggle 3s 0.5s infinite;
}
.fa-apple-alt{
  color: #680505;
  animation: wiggle 3s 1s infinite;
}
.fa-code{
  color: #033E3E;
  animation: wiggle 3s 1.5s infinite;
  grid-column: 1/3;
}
@keyframes wiggle{
  33%{
    transform:rotate(10deg);
  }
  67%{
    transform:rotate(-10deg);
  }
  100%{
    transform:rotate(0deg);
  }
}
#tech-grid{
  position: relative;
  text-align: center;
  min-height: 12vw;
}
#tech-grid i{
  position: absolute;
  font-size: 10vw;
  top:0;
  margin-left:-5vw;
/*  left:45vw;*/
}
.hide{
  opacity: 0;
  transition: all .7s ease-in;
}
#tech-grid:hover .fa-html5{
  margin-left: -44vw;
  opacity: 1;
  color: #E44D26;
}
#tech-grid:hover .fa-css3-alt{
  margin-left: -31vw;
  opacity: 1;
  color:#1A6FB4;
}
#tech-grid:hover .fa-js{
  margin-left: -18vw;
  opacity: 1;
  color: #EFD81D;
}
#tech-grid:hover .fa-react{
  margin-left: 8vw;
  opacity: 1;
  color: #5ED3F3;
}
#tech-grid:hover .fa-python{
  margin-left: 21vw;
  opacity: 1;
  color:#356C9B;
}
#tech-grid:hover .fa-github{
  margin-left: 34vw;
  opacity: 1;
  color:#212121;
}
.fa-toolbox{
  z-index: 100;
  color: #680505;
  animation: bounce 1.3s ease infinite;
}
@keyframes bounce{
  25%{transform:translateY(-20px);}
  50%{transform:translateY(0px);}
  65%{transform:translateY(-5px);}
  80%{transform:translateY(0px);}
}
#work-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.work-image{
  border-left: 10px solid #033E3E;
  border-radius: 5px;
  height: 270px;
  width: 360px;
  margin: 10px;
  transition:all .7s ease;
}
.work-image:hover{
  border-left: 10px solid #426105;
  transform:scale(1.1);
}
#div3{
  height:8vw;
  margin: 0 -8px 0 -8px;
  background: rgba(3,62,62,0.2);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
#div3 h2{
  color: white;
}
#div3 h2 i{
  font-size: 2vw;
  margin-left: 15px;
  animation: point 1.2s ease infinite;
}
@keyframes point{
  40%{transform:translateX(1vw);}
  80%{transform:translateX(0);}
}
#div3 i{
  color: white;
  font-size: 4vw;
  transition: all 1s ease;
}
#div3 i:hover{
  transform:scale(1.2);
}
@media (max-width: 1000px){
  #div1a{
    grid-template-columns: 1fr;
  }
  .section-text{
    text-align: justify;
  }
  #div3{
    font-size:calc(18px + .7vw);
    height: 15vw;
  }
}
@media (max-width: 430px){
  .work-image{
    transform: scale(0.75);
  }
  #div0{
  height: 24vw;
}
  #main-name{
    line-height: 8.4vw;
    font-size: 13vw;
  }
  #landing-blurb{
    font-size: 6vw;
  }
}
